	/*
  	Flaticon icon font: Flaticon
  	Creation date: 12/08/2018 13:24
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon/font/Flaticon.eot");
  src: url("../fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/fonts/fonts_HomeCustomer/Flaticon.woff") format("woff"),
       url("/fonts/fonts_HomeCustomer/Flaticon.ttf") format("truetype"),
       url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-shipped:before { content: "\f100"; }
.flaticon-box:before { content: "\f101"; }
.flaticon-award:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-salad:before { content: "\f104"; }
.flaticon-diet:before { content: "\f105"; }