﻿@model PERI_Project.Models.tbl_otherIncome

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Details Other Income</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Income Name
            @*@Html.DisplayNameFor(model => model.incomeName)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.incomeName)
        </dd>

        <dt>
            Amount Money
            @*@Html.DisplayNameFor(model => model.income)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.income)
        </dd>

        <dt>
            Date
            @*@Html.DisplayNameFor(model => model.date)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Edit", "otherIncome" , new { id = Model.pk_id_otherIncome } )"><img src="~/images/edit.png" /> Edit</a> |
        <a class="btn btn-info" href="@Url.Action("Index", "otherIncome")">Back to List</a>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_otherIncome }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>
</div>

