﻿@model IEnumerable<PERI_Project.Models.tbl_otherIncome>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.incomeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>


    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Other Income</h3>
    </div>
    <div class="card-header py-3">
        <a class="btn btn-success" href="@Url.Action("Create","otherIncome")">Add Other Income</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No. Other Income</th>
                        <th>Other Income Name</th>
                        <th>Amount Money</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Other Income</th>
                        <th>Other Income Name</th>
                        <th>Income</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.pk_id_otherIncome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.incomeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.income)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "otherIncome" , new { id = item.pk_id_otherIncome } )"><img src="~/images/edit.png" /> Edit</a> |
                                @*<a class="btn btn-secondary" href="@Url.Action("Details", "otherIncome" , new { id = item.pk_id_otherIncome } )"><img src="~/images/details.png" /> Details</a> |*@
                                <a class="btn btn-danger" href="@Url.Action("Delete", "otherIncome" , new { id = item.pk_id_otherIncome } )"><img src="~/images/bin.png" /> Delete</a>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_otherIncome }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.pk_id_otherIncome }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_otherIncome })*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>