﻿@model IEnumerable<PERI_Project.Models.tbl_about>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AboutID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile_Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Main_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AboutID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile_Image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Main_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data About</h3>
            <h4 class="text-success">@TempData["msg"]</h4>
        </div>
        @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","Banner")">Add Banner</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Main Title</th>
                            <th>Description</th>
                            <th>Profile Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Main Title</th>
                            <th>Description</th>
                            <th>Profile Image</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Main_Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.Profile_Image)" width="150" height="100" />
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "About" , new { id = item.AboutID } )"><img src="~/images/edit.png" /> Edit</a> |
                                    <a class="btn btn-secondary" href="@Url.Action("Details", "About" , new { id = item.AboutID } )"><img src="~/images/details.png" /> Details</a>
                                    @*<a class="btn btn-danger" href="@Url.Action("Delete", "Banner" , new { id = item.BannerID } )"><img src="~/images/bin.png" /> Delete</a>*@
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.BannerID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.BannerID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.BannerID })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
