﻿@model PERI_Project.Models.tbl_banner

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Banner</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Banner Image
                @*@Html.DisplayNameFor(model => model.Banner_Image)*@
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Banner_Image)*@
                <img src="@Url.Content(Model.Banner_Image)" width="250" height="125" multiple />
            </dd>

            @*<dt>

                @Html.DisplayNameFor(model => model.BannerID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BannerID)
            </dd>*@

            <dt>
                Main Title
                @*@Html.DisplayNameFor(model => model.Main_Title)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Main_Title)
            </dd>

            <dt>
                Second Title
                @*@Html.DisplayNameFor(model => model.Second_Title)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Second_Title)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "Banner" , new { id = Model.BannerID } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "Banner")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>