﻿@model IEnumerable<PERI_Project.Models.tbl_banner>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BannerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Main_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Second_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner_Image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BannerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Main_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Second_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner_Image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Banner</h3>
            <h4 class="text-success">@TempData["msg"]</h4>
        </div>
        @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","Banner")">Add Banner</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Main Title</th>
                            <th>Second Title</th>
                            <th>Banner Image</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Main Title</th>
                            <th>Second Title</th>
                            <th>Banner Image</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Main_Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Second_Title)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.Banner_Image)" width="150" height="100" />
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "Banner" , new { id = item.BannerID } )"><img src="~/images/edit.png" /> Edit</a> |
                                    <a class="btn btn-secondary" href="@Url.Action("Details", "Banner" , new { id = item.BannerID } )"><img src="~/images/details.png" /> Details</a> 
                                    @*<a class="btn btn-danger" href="@Url.Action("Delete", "Banner" , new { id = item.BannerID } )"><img src="~/images/bin.png" /> Delete</a>*@
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.BannerID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.BannerID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.BannerID })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>