﻿@model IEnumerable<PERI_Project.Models.tbl_otherSpending>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.spending_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.spending_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_otherSpending }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_otherSpending }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_otherSpending })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Other Spending</h3>
        </div>
        <div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","otherSpending")">Add Other Spending</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No. Other Spending</th>
                            <th>Other Spending Name</th>
                            <th>Spending</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No. Other Spending</th>
                            <th>Other Spending Name</th>
                            <th>Spending</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pk_id_otherSpending)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.spending_value)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "otherSpending" , new { id = item.pk_id_otherSpending } )"><img src="~/images/edit.png" /> Edit</a> |
                                    @*<a class="btn btn-secondary" href="@Url.Action("Details", "otherIncome" , new { id = item.pk_id_otherIncome } )"><img src="~/images/details.png" /> Details</a> |*@
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "otherSpending" , new { id = item.pk_id_otherSpending } )"><img src="~/images/bin.png" /> Delete</a>
                                    @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_otherSpending }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.pk_id_otherSpending }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_otherSpending })*@
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
