﻿@model PERI_Project.Models.tbl_OrderRequest

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>tbl_OrderRequest</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Address
                @*@Html.DisplayNameFor(model => model.address)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                Phone
                @*@Html.DisplayNameFor(model => model.phone)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                Email
                @*@Html.DisplayNameFor(model => model.email)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Description
                @*@Html.DisplayNameFor(model => model.description)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

            <dt>
                Status
                @*@Html.DisplayNameFor(model => model.status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

        </dl>


    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "OrderRequest")">Back to List</a>
        </div>
    </div>
}
