﻿@model PERI_Project.Models.tbl_OrderRequest

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>Order Request Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

    </dl>
    <p>
        @*<a class="btn btn-primary" href="@Url.Action("Edit", "OrderRequest" , new { id = Model.pk_id_OrderRequest } )"><img src="~/images/edit.png" /> Edit</a> |*@
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_OrderRequest }) |*@
        <a class="btn btn-info" href="@Url.Action("Index", "OrderRequest")">Back to List</a>
        @*@Html.ActionLink("Back to List", "Index", "payment", new { }, new { })*@

    </p>
</div>

