﻿@model IEnumerable<PERI_Project.Models.tbl_OrderRequest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_OrderRequest }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_OrderRequest }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_OrderRequest })
        </td>
    </tr>
}*@

@*</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Order Request</h3>
    </div>
    @*<div class="card-header py-3">
        <a class="btn btn-success" href="@Url.Action("IndexDone","OrderRequest")">Done</a>
    </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No. Request</th>
                        <th>Customer Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Request</th>
                        <th>Customer Name</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pk_id_OrderRequest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>

                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Edit", "OrderRequest" , new { id = item.pk_id_OrderRequest } )">@*<img src="~/images/edit.png" />*@ Process</a> <hr />
                            <a class="btn btn-secondary" href="@Url.Action("Details", "OrderRequest" , new { id = item.pk_id_OrderRequest } )"><img src="~/images/details.png" /> Details</a> <hr />
                            @*<a class="btn btn-success" href="@Url.Action("Done", "OrderRequest" , new { id = item.pk_id_OrderRequest } )"><img src="~/images/edit.png" /> Done</a>*@
                            <a class="btn btn-danger" href="@Url.Action("Delete", "OrderRequest" , new { id = item.pk_id_OrderRequest } )"><img src="~/images/bin.png" /> Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>