﻿@model PERI_Project.Models.tbl_design

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>Create Design</h4>
            <hr />
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2"><b>Difficulty<label style="color:red"> *</label></b></label>
            @*@Html.LabelFor(model => model.difficulty, "Difficulty", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.difficulty, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                @Html.ValidationMessageFor(model => model.difficulty, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><b>Design Price<label style="color:red"> *</label></b></label>
            @*@Html.LabelFor(model => model.design_price, "Design Price", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.design_price, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", @required = "required" } })
                @Html.ValidationMessageFor(model => model.design_price, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "design")">Back to List</a>
                </div>
            </div>


        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>