﻿@model PERI_Project.Models.tbl_design

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Design</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Difficulty
                @*@Html.DisplayNameFor(model => model.difficulty)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.difficulty)
            </dd>

            <dt>
                Design Price
                @*@Html.DisplayNameFor(model => model.design_price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.design_price)
            </dd>

        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "design")">Back to List</a>
        </div>
    </div>
}
