﻿@model PERI_Project.Models.tbl_design

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Design</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Difficulty
                @*@Html.DisplayNameFor(model => model.difficulty)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.difficulty)
            </dd>

            <dt>
                Design Price
                @*@Html.DisplayNameFor(model => model.design_price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.design_price)
            </dd>

        </dl>

        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "design" , new { id = Model.pk_id_design } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "design")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_design }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>

