﻿@model IEnumerable<PERI_Project.Models.tbl_design>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.design_price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.design_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_design }) |
                @Html.ActionLink("Details", "Details", new { id = item.pk_id_design }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_design })
            </td>
        </tr>
    }*@

@*</table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Design</h3>
    </div>
    <div class="card-header py-3">
        <a class="btn btn-success" href="@Url.Action("Create","design")">Add Design</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Difficulty</th>
                        <th>DIfficulty Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Difficulty</th>
                        <th>DIfficulty Price</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.difficulty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.design_price)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "design" , new { id = item.pk_id_design } )"><img src="~/images/edit.png" /> Edit</a> |
                                @*<a class="btn btn-secondary" href="@Url.Action("Details", "design" , new { id = item.pk_id_design } )"><img src="~/images/details.png" /> Details</a> |*@
                                <a class="btn btn-danger" href="@Url.Action("Delete", "design" , new { id = item.pk_id_design } )"><img src="~/images/bin.png" /> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>