﻿@model PERI_Project.Models.tbl_customerDebt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Customer Debt</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Debt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Debt)
            </dd>

            <dt>
                Debt Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.debt_status)
            </dd>

            <dt>
                Payment
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                Payment Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_payment.payment_status)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "customerDebt" , new { id = Model.pk_id_cDebt } )"><img src="~/images/edit.png" /> Pay</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "customerDebt")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_cDebt }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>

    </div>
