﻿@model PERI_Project.Models.tbl_customerDebt

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>Input Payment Customer Debt</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.pk_id_cDebt)
            @Html.HiddenFor(model => model.fk_id_payment)
            @Html.HiddenFor(model => model.BankAccountName)
            @Html.HiddenFor(model => model.BankAccountNumber)
            @Html.HiddenFor(model => model.BankName)
            @Html.HiddenFor(model => model.ImagePath)
            @if (Model.ImagePath != null)
            {
                <div class="col-md-10">
                    <dt>
                        Payment proof
                    </dt>
                    <dd>
                        <img class="zoom" src="@Url.Content(Model.ImagePath)" width="200" height="250" multiple style="border-radius:5px;" />
                    </dd>
                </div>
            }
            @*<div class="form-group">
            @Html.LabelFor(model => model.fk_id_payment, "fk_id_payment", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fk_id_payment", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_id_payment, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.Debt, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Debt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Debt, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.debt_status, "Debt Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.debt_status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.debt_status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payment, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.payment, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-secondary" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "customerDebt")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>
<script src="~/Scripts/zoomerang.js"></script>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('p'), function (p, i) {
        p.style.marginLeft = i * 6 + '%'
    })
    Zoomerang
        .config({
            maxHeight: 500,
            maxWidth: 400,
            bgColor: '#000',
            bgOpacity: .85,
            onOpen: openCallback,
            onClose: closeCallback,
            onBeforeOpen: beforeOpenCallback,
            onBeforeClose: beforeCloseCallback
        })
        .listen('.zoom')

    function openCallback(el) {
        console.log('zoomed in on: ')
        console.log(el)
    }

    function closeCallback(el) {
        console.log('zoomed out on: ')
        console.log(el)
    }

    function beforeOpenCallback(el) {
        console.log('on before zoomed in on:')
        console.log(el)
    }

    function beforeCloseCallback(el) {
        console.log('on before zoomed out on:')
        console.log(el)
    }
</script>