﻿@model IEnumerable<PERI_Project.Models.tbl_customerDebt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Debt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debt_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_payment.payment_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Debt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debt_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_payment.payment_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_cDebt }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_cDebt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_cDebt })
        </td>
    </tr>
}

</table>*@
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Customer Debt</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No. Payment</th>
                            <th>Name</th>
                            <th>Debt</th>
                            <th>Debt Status</th>
                            <th>Payment Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No. Payment</th>
                            <th>Name</th>
                            <th>Debt</th>
                            <th>Debt Status</th>
                            <th>Payment Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_payment.pk_id_payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_payment.tbl_customerOrder.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Debt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.debt_status)
                            </td>
     
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_payment.payment_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_payment.date)
                            </td>
                            <td>
                                @if (item.debt_status == "Done") {

                                }
                                else {
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "customerDebt" , new { id = item.pk_id_cDebt } )"><img src="~/images/edit.png" /> Pay</a><a> |</a>
                                }
                                
                                <a class="btn btn-secondary" href="@Url.Action("Details", "customerDebt" , new { id = item.pk_id_cDebt } )"><img src="~/images/details.png" /> History</a>
                                @*<a class="btn btn-danger" href="@Url.Action("Delete", "customerDebt" , new { id = item.pk_id_cDebt } )"><img src="~/images/bin.png" /> Delete</a>*@
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_cDebt }) |
            @Html.ActionLink("Details", "Details", new { id = item.pk_id_cDebt }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_cDebt })*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
