﻿@model PERI_Project.Models.tbl_product

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this ?</h3>
    <div>
        <h4>Delete Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Image
                @*@Html.DisplayNameFor(model => model.product_price)*@
            </dt>
            <dd>
                <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
            </dd>

            <dt>
                Product Name
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                Product Price
                @*@Html.DisplayNameFor(model => model.product_price)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_price)
            </dd>

            <dt>
                Description
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "product")">Back to List</a>
        </div>
    </div>
}