﻿@model PERI_Project.Models.tbl_product

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2) 
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Product Image
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>
            <dd>
                <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
            </dd>

            <dt>
                Product Name
                @*@Html.DisplayNameFor(model => model.product_name)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                Product Price
                @*@Html.DisplayNameFor(model => model.product_price)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.product_price)
            </dd>
            <dt>
                Description
            </dt>
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>

        </dl>

        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "product" , new { id = Model.pk_id_product } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "product")">Back to List</a>
        </p>
    </div>

