﻿@model PERI_Project.Models.tbl_product

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h4>Edit Product</h4>
            <h5 class="text-danger">@ViewBag.msg</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.pk_id_product)

            <div class="form-group">
                @Html.LabelFor(model => model.product_name, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.product_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.product_price, "Product Price", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.product_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.product_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, "Product Image", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="@Url.Content(Session["imgPath"].ToString())" height="100" width="150" id="imagePreview" />
                    <input type="file" name="ImageFile" id="ImageFile" accept="image/jpeg, image/png" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))">
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.description,8,106, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Save" class="btn btn-secondary" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "product")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts_UserLogin/Script-uploadfile.js"></script>
