﻿@model IEnumerable<PERI_Project.Models.tbl_product>
@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_price)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_price)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_product }) |
                @Html.ActionLink("Details", "Details", new { id=item.pk_id_product }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_product })
            </td>
        </tr>
    }

    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Product</h3>
        <h4 class="text-success">@TempData["msg"]</h4>
        <h4 class="text-success">@TempData["DataMsg"]</h4>
    </div>
    <div class="card-header py-3">
        <a class="btn btn-success" href="@Url.Action("Create","product")">Add Product</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Image</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Image</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.product_price)
                            </td>
                            <td>
                                <img src="@Url.Content(item.ImagePath)" width="150" height="100" />
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "product" , new { id = item.pk_id_product } )"><img src="~/images/edit.png" /> Edit</a> |
                                <a class="btn btn-secondary" href="@Url.Action("Details", "product" , new { id = item.pk_id_product } )"><img src="~/images/details.png" /> Details</a> |
                                <a class="btn btn-danger" href="@Url.Action("Delete", "product" , new { id = item.pk_id_product } )"><img src="~/images/bin.png" /> Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>