﻿
@{
    ViewBag.Title = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>

<body>
    @using (Html.BeginForm())
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: auto; margin: 3rem auto 4rem auto; width: 500px; padding:20px;">
                    <form class="login100-form validate-form">
                        <div>
                            <center>
                                <img src="~/images/Logo_PERI.png" width="120" height="120" />
                            </center>
                        </div>
                        <br />
                        <div class="form-group">
                            <center>
                                <h6 style="color:white;">Please enter your email to get your password reset link</h6>
                            </center>
                        </div>
                        <hr />
                        <div class="alert-success">
                            <center>@ViewBag.Message</center>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.TextBox("email", "", new { @class = "form-control", @placeholder = "Email" })
                        </div>
                        <div class="form-group">
                            <div class="">
                                <center>
                                    <input type="submit" value="Send Link" class="btn btn-success" />
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    </body>
</html>
@Scripts.Render("~/Scripts_UserLogin/js")