﻿@model PERI_Project.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>

<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: auto; margin: 3rem auto 4rem auto; width: 500px; padding:20px;">
                    <form class="login100-form validate-form">
                        <div>
                            <center>
                                <img src="~/images/Logo_PERI.png" width="120" height="120" />
                            </center>
                        </div>
                        <br />
                        <div class="form-group">
                            <center>
                                <h6 style="color:white">Please enter your new password</h6>
                            </center>
                        </div>
                        <hr />
                        <div class="alert-success">
                            <center>@ViewBag.Message</center>
                        </div>
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New Password" } })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password" } })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.HiddenFor(a => a.ResetCode)
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="">
                                <center>
                                    <input type="submit" value="Reset" class="btn btn-success" />
                                </center>
                            </div>
                        </div>

                        <div class="text-center">
                            <a class="medium">Has your password been reset? @Html.ActionLink("Login Now!", "LoginPage") </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
@Scripts.Render("~/Scripts_UserLogin/js")
<script src="~/Scripts_UserLogin/jquery.validate.min.js"></script>
<script src="~/Scripts_UserLogin/jquery.validate.unobtrusive.min.js"></script>