﻿
@{
    ViewBag.Title = "VerifyAccount";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Account</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/Content_UserLogin/images/favicon.ico" />

    @Styles.Render("~/Content_UserLogin/css")

</head>

<body>
    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: 400px; margin: 3rem auto 4rem auto; width: 500px; padding:20px;">
                    <form class="login100-form validate-form">
                        <div>
                            <center>
                                <img src="~/images/Logo_PERI.png" width="120" height="120" />
                            </center>
                        </div>
                        <br />
                        <div class="alert alert-success">
                            <strong>Success</strong> Your account has been activated successfully.
                        </div>
                        <div>
                            <h4><center>Click here to</center></h4>
                            <hr />
                            <center>
                                <button type="submit" class="btn btn-success"><b><a class="text-white" href="@Url.Action("LoginPage", "UserLogin")">Login</a></b></button>
                            </center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="limiter">
            <div class="container-login100" style="background-image: url('../../Content_UserLogin/images/bg-01.jpg');">
                <div class="form-control" style="background-color:#82ae46; border-radius: 8px; box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65); height: 300px; margin: 3rem auto 4rem auto; width: 500px; padding:20px;">
                    <form class="login100-form validate-form">
                        <div>
                            <center>
                                <img src="~/images/Logo_PERI.png" width="120" height="120" />
                            </center>
                        </div>
                        <br />
                        <div class="alert alert-danger">
                            <strong>Error!</strong> @ViewBag.Message
                        </div>
                    </form>
                </div>
            </div>
        </div>
    }

</body>
</html>
@Scripts.Render("~/Scripts_UserLogin/js")