﻿@model PERI_Project.Models.tbl_spending

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>Create Spending</h4>
            <hr />
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <input type="hidden" name="fk_id_spendingItem" id="spendingItem" />
            <div class="form-group">
                <label class="control-label col-md-2"><b>Item Name<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.fk_id_spendingItem, "Item Name", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <select class="form-control" onchange="getValue()" id="departmentsDropdown" name="departmentsDropdown" required></select>
                    @*@Html.DropDownList("fk_id_spendingItem", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.fk_id_spendingItem, "", new { @class = "text-danger" })
                    @Html.ActionLink("Create New Item", "Create", "spendingItem")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <b>Item Price :</b> <label type="text" value="" id="show" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Payment<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.payment, "Payment", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payment, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.payment, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
            @Html.LabelFor(model => model.date,"Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>*@


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "spending")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!--Script Dropdown list display value-->
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/spending/GetData",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select Item</option>';

                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].price + '">' + data[i].pk_id_spendingItem + ' - ' + data[i].name + '</option>';

                }
                $("#departmentsDropdown").html(s);
            }
        });
    });

    function getValue() {
        var myVal = $("#departmentsDropdown").val();
        var result = $("#departmentsDropdown").children("option:selected").html();
        var data = result.split(" ");
        var view = data[0];
        $("#spendingItem").val(view);
        $("#show").html(myVal);
    }


</script>
