﻿@model PERI_Project.Models.tbl_spending

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Spending</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Spending Name
                @*@Html.DisplayNameFor(model => model.tbl_spendingItem.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_spendingItem.name)
            </dd>

            <dt>
                Payment
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "spending" , new { id = Model.pk_id_spending } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "spending")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_spending }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>

