﻿@model IEnumerable<PERI_Project.Models.tbl_spending>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_spendingItem.name)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_spendingItem.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_spending }) |
                @Html.ActionLink("Details", "Details", new { id=item.pk_id_spending }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_spending })
            </td>
        </tr>
    }

    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Spending</h3>
    </div>
    <div class="card-header py-3">
        <a class="btn btn-success" href="@Url.Action("Create","spending")">Add Spending</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No. Spending</th>
                        <th>Spending Name</th>
                        <th>Price</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Spending</th>
                        <th>Spending Name</th>
                        <th>Price</th>
                        <th>Payment</th>
                        <th>Payment Status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pk_id_spending)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_spendingItem.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_spendingItem.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payment_status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @*<a class="btn btn-primary" href="@Url.Action("Edit", "spending" , new { id = item.pk_id_spending } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-secondary" href="@Url.Action("Details", "spending" , new { id = item.pk_id_spending } )"><img src="~/images/details.png" /> Details</a> |*@
                            <a class="btn btn-danger" href="@Url.Action("Delete", "spending" , new { id = item.pk_id_spending } )"><img src="~/images/bin.png" /> Delete</a>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_spending }) |
            @Html.ActionLink("Details", "Details", new { id = item.pk_id_spending }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_spending })*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
