﻿@model IEnumerable<PERI_Project.Models.tbl_Addition>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_addition }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_addition }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_addition })
        </td>
    </tr>
}

</table>*@
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Addition</h3>
        </div>
        <div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","Addition")">Add Addition</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "Addition" , new { id = item.pk_id_addition } )"><img src="~/images/edit.png" /> Edit</a> |
                                    @*<a class="btn btn-secondary" href="@Url.Action("Details", "design" , new { id = item.pk_id_design } )"><img src="~/images/details.png" /> Details</a> |*@
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "Addition" , new { id = item.pk_id_addition } )"><img src="~/images/bin.png" /> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>