﻿@model IEnumerable<PERI_Project.Models.tbl_HistoryCustomerDebt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_customerDebt.debt_status)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_customerDebt.debt_status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_HistoryCustomerDebt }) |
                @Html.ActionLink("Details", "Details", new { id=item.pk_id_HistoryCustomerDebt }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_HistoryCustomerDebt })
            </td>
        </tr>
    }

    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">History Debt Payment Customer</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="10">No. History</th>
                        <th>Customer Name</th>
                        <th>Payment</th>
                        <th>Date</th>
                        <th>Bank Account Name</th>
                        <th>Bank Acount Number</th>
                        <th>Bank Name</th>
                        <th>Proof</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th width="10">No. History</th>
                        <th>Customer Name</th>
                        <th>Payment</th>
                        <th>Date</th>
                        <th>Bank Account Name</th>
                        <th>Bank Acount Number</th>
                        <th>Bank Name</th>
                        <th>Proof</th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.pk_id_HistoryCustomerDebt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_customerDebt.tbl_payment.tbl_customerOrder.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankAccountName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankAccountNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankName)
                        </td>
                        @if (item.BankAccountName == "On the spot" || item.BankAccountName == null || item.BankAccountNumber == "On the spot" || item.BankAccountNumber == null || item.BankName == "On the spot" || item.BankName == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>
                                <img class="zoom" src="@Url.Content(item.ImagePath)" width="130" height="200" style="border-radius:5px" />
                            </td>
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/zoomerang.js"></script>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('p'), function (p, i) {
        p.style.marginLeft = i * 6 + '%'
    })
    Zoomerang
        .config({
            maxHeight: 500,
            maxWidth: 400,
            bgColor: '#000',
            bgOpacity: .85,
            onOpen: openCallback,
            onClose: closeCallback,
            onBeforeOpen: beforeOpenCallback,
            onBeforeClose: beforeCloseCallback
        })
        .listen('.zoom')

    function openCallback(el) {
        console.log('zoomed in on: ')
        console.log(el)
    }

    function closeCallback(el) {
        console.log('zoomed out on: ')
        console.log(el)
    }

    function beforeOpenCallback(el) {
        console.log('on before zoomed in on:')
        console.log(el)
    }

    function beforeCloseCallback(el) {
        console.log('on before zoomed out on:')
        console.log(el)
    }

</script>