﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Profit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Financial Record</h2>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
</div>