﻿@using ReportViewerForMvc;
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h2>Receipt</h2>
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer);
    </div>
