﻿@model PERI_Project.Models.tbl_spendingItem

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Spending Item</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Name
                @*@Html.DisplayNameFor(model => model.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Price
                @*@Html.DisplayNameFor(model => model.price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "spendingItem" , new { id = Model.pk_id_spendingItem } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "spendingItem")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_spendingItem }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>

