﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>PERI E-COMMERCE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content_HomeCustomer/css")

</head>
<body class="goto-here">
    @Html.Partial("Nav_HomeCustomer")
    <!-- END nav -->

    @RenderBody()

    @Html.Partial("Footer_HomeCustomer")



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Scripts_HomeCustomer/jquery.min.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts_HomeCustomer/popper.min.js"></script>
    <script src="~/Scripts_HomeCustomer/bootstrap.min.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery.easing.1.3.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery.waypoints.min.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery.stellar.min.js"></script>
    <script src="~/Scripts_HomeCustomer/owl.carousel.min.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts_HomeCustomer/aos.js"></script>
    <script src="~/Scripts_HomeCustomer/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts_HomeCustomer/bootstrap-datepicker.js"></script>
    <script src="~/Scripts_HomeCustomer/scrollax.min.js"></script>
    <script src="~/Scripts_HomeCustomer/js.js"></script>
    <script src="~/Scripts_HomeCustomer/google-map.js"></script>
    <script src="~/Scripts_HomeCustomer/main.js"></script>

</body>
</html>
