﻿<!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#82ae46;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
            <div class="sidebar-brand-icon">
                <i class="fas"><img src="~/images/Logo_PERI.png" height="55" width="55" /></i>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!--Start Navigasi for Owner-->
        @if (Convert.ToInt16(Session["UserRoleID"]) == 2)
        {
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            @*<div class="sidebar-heading">
                Interface
            </div>*@

            <!-- Nav Item - Spending Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    @*<i class="fas fa-fw fa-cog"></i>*@
                    <span>Spending</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Details</h6>*@
                        @*@Html.ActionLink("Details", "Index", "Spending_Table")
                        @Html.ActionLink("Input", "Create", "Spending_Table")*@
                        <a class="collapse-item" href="@Url.Action("Index", "spending")">Spending</a>
                        <a class="collapse-item" href="@Url.Action("Index", "otherSpending")">Other Spending</a>
                        <a class="collapse-item" href="@Url.Action("Index", "spendingItem")">Item List</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                    @*<i class="fas fa-fw fa-wrench"></i>*@
                    <span>Income</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Income", "payment")">Income Order</a>
                        <a class="collapse-item" href="@Url.Action("Index", "otherIncome")">Other Income</a>
                        @*<a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>*@
                    </div>
                </div>
            </li>

            <!-- Divider -->
            @*<hr class="sidebar-divider">*@

            <!-- Heading -->
            @*<div class="sidebar-heading">
                Addons
            </div>*@

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    @*<i class="fas fa-fw fa-folder"></i>*@
                    <span>Debt</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Index", "customerDebt")">Customer Debt</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Owner_debt")">Owner Debt</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePagesdeposit" aria-expanded="true" aria-controls="collapsePages">
                    @*<i class="fas fa-fw fa-folder"></i>*@
                    <span>Deposit</span>
                </a>
                <div id="collapsePagesdeposit" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Index", "depositPayment")">Customer Deposit</a>
                        <a class="collapse-item" href="@Url.Action("Index", "depositSpending")">Owner Deposit</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwomaster" aria-expanded="true" aria-controls="collapseTwo">
                    @*<i class="fas fa-fw fa-cog"></i>*@
                    <span>Master Data</span>
                </a>
                <div id="collapseTwomaster" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Details</h6>*@
                        @*@Html.ActionLink("Details", "Index", "Spending_Table")
                        @Html.ActionLink("Input", "Create", "Spending_Table")*@
                        <h4 class="text-center" style="font-size:14px; margin-top:7px;"><b>Manage Difficulty Design</b></h4>
                        <hr />
                        <a class="collapse-item" href="@Url.Action("Index","design")">Design</a>
                        <a class="collapse-item" href="@Url.Action("Index","Addition")">Addition</a>
                        <hr />
                        <h4 class="text-center" style="font-size:14px; margin-top:7px;"><b>Manage View Web</b></h4>
                        <hr />
                        <a class="collapse-item" href="@Url.Action("Index","product")">Product</a>
                        <a class="collapse-item" href="@Url.Action("Index", "Banner")">Banner</a>
                        <a class="collapse-item" href="@Url.Action("Index", "About")">About</a>
                        <a class="collapse-item" href="@Url.Action("Index", "contact")">Contact</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReport" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Report</span>
                </a>
                <div id="collapseReport" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item" href="@Url.Action("Profit", "report")">Profit</a>
                        <a class="collapse-item" href="@Url.Action("Income", "report")">Income</a>
                        <a class="collapse-item" href="@Url.Action("Spending", "report")">Spending</a>
                        <a class="collapse-item" href="@Url.Action("Debt", "report")">Debt</a>
                        <a class="collapse-item" href="@Url.Action("Deposit", "report")">Deposit</a>
                        <a class="collapse-item" href="@Url.Action("Transaction", "report")">Transaction</a>
                        <a class="collapse-item" href="@Url.Action("Product", "report")">Product Bought</a>
                        <a class="collapse-item" href="@Url.Action("Overview", "report")">Financial Record</a>
                    </div>
                </div>
            </li>

            @*<!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Profit</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","design")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Design</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","product")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Product</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","spendingItem")">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Item</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Banner")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Banner</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "About")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>About</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "contact")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Contact</span>
                </a>
            </li>*@
        }
        <!--End Navigasi for Owner-->
        <!--Start Navigasi for Admin-->
        @if (Convert.ToInt16(Session["UserRoleID"]) == 1)
        {

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "payment")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            @*<div class="sidebar-heading">
                Interface
            </div>*@
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorderRequest" aria-expanded="true" aria-controls="collapsePages">
                    @*<i class="fas fa-fw fa-folder"></i>*@
                    <span>Order Request</span>
                </a>
                <div id="collapseorderRequest" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        @*<h4 class="text-center" style="font-size:14px; margin-top:7px;"><b>Order Status Customer</b></h4>
                        <hr />*@
                        <a class="collapse-item" href="@Url.Action("Index", "OrderRequest")">New</a>
                        <a class="collapse-item" href="@Url.Action("IndexDone", "OrderRequest")">Done</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorderStatus" aria-expanded="true" aria-controls="collapsePages">
                    @*<i class="fas fa-fw fa-folder"></i>*@
                    <span>Order Status</span>
                </a>
                <div id="collapseorderStatus" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        @*<h4 class="text-center" style="font-size:14px; margin-top:7px;"><b>Order Status Customer</b></h4>
                        <hr />*@
                        <a class="collapse-item" href="@Url.Action("Index", "payment")">New</a>
                        <a class="collapse-item" href="@Url.Action("IndexOnProgress", "payment")">On Progress</a>
                        <a class="collapse-item" href="@Url.Action("IndexDone", "payment")">Done</a>
                    </div>
                </div>
            </li>



            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaymentStatus" aria-expanded="true" aria-controls="collapsePages">
                    @*<i class="fas fa-fw fa-folder"></i>*@
                    <span>Payment Status</span>
                </a>
                <div id="collapsePaymentStatus" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Login Screens:</h6>*@
                        @*<h4 class="text-center" style="font-size:14px; margin-top:7px;"><b>Order Status Customer</b></h4>
                        <hr />*@
                        <a class="collapse-item" href="@Url.Action("IndexPaymentNotYet", "payment")">Not Yet</a>
                        <a class="collapse-item" href="@Url.Action("IndexPaymentDebt", "payment")">Debt</a>
                        <a class="collapse-item" href="@Url.Action("IndexPaymentDeposit", "payment")">Deposit</a>
                        <a class="collapse-item" href="@Url.Action("IndexPaymentDone", "payment")">Done</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Spending Collapse Menu -->
            @*<li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "OrderRequest")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Order request</span>
                </a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "customerOrder")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Input Order</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "customerDebt")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Customer Debt</span>
                </a>
            </li>

            @*<li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Banner")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Banner</span>
                </a>
            </li>*@

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "depositPayment")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Deposit Customer</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "UploadPayment")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Payment Proof</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "UploadDebt")">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Debt Payment Proof</span>
                </a>
            </li>
        }
        <!--End Navigasi for Admin-->
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
        @*<div class="text-center d-none d-md-inline">
            <a class="nav-link" href="@Url.Action("LogOut", "AdminLogin")">
                <i class="text-center d-none d-md-inline"></i>
                <span style="color:whitesmoke"><b>Logout</b></span>
            </a>
        </div>*@

    </ul>
<!-- End of Sidebar -->
