﻿@model PERI_Project.Models.tbl_Owner_debt

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Owner Debt</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Debt Status
                @*@Html.DisplayNameFor(model => model.debt_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.debt_status)
            </dd>

            <dt>
                Payment
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.debt)
            </dt>

            <dd>
                Debt
                @*@Html.DisplayFor(model => model.debt)*@
            </dd>

            <dt>
                Payment Status
                @*@Html.DisplayNameFor(model => model.tbl_spending.payment_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_spending.payment_status)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

        </dl>


    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "Owner_debt")">Back to List</a>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    </div>
}