﻿@model PERI_Project.Models.tbl_Owner_debt

@{
    
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Owner Debt</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Debt Status
                @*@Html.DisplayNameFor(model => model.debt_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.debt_status)
            </dd>

            <dt>
                Payment
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                Debt
                @*@Html.DisplayNameFor(model => model.debt)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.debt)
            </dd>

            <dt>
                Payment Status
                @*@Html.DisplayNameFor(model => model.tbl_spending.payment_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_spending.payment_status)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "Owner_debt" , new { id = Model.pk_id_oDebt } )"><img src="~/images/edit.png" /> Pay</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "Owner_debt")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_oDebt }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>

