﻿@model IEnumerable<PERI_Project.Models.tbl_Owner_debt>

@{
     if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.debt_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_spending.payment_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.debt_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_spending.payment_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_oDebt }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_oDebt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_oDebt })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Owner Debt</h3>
        </div>
        @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","design")">Add Design</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No. Spending</th>
                            <th>Spending Name</th>
                            <th>Debt Status</th>
                            <th>Debt</th>
                            <th>Payment</th>
                            <th>Payment Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No. Spending</th>
                            <th>Spending Name</th>
                            <th>Debt Status</th>
                            <th>Debt</th>
                            <th>Payment</th>
                            <th>Payment Status</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fk_id_spending)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_spending.tbl_spendingItem.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.debt_status)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.debt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_spending.payment_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                @if (item.debt_status == "Done") {

                                }
                                else {
                                    <a class="btn btn-primary" href="@Url.Action("Edit", "Owner_debt" , new { id = item.pk_id_oDebt } )"><img src="~/images/edit.png" /> Pay</a> <hr />
                                }
                                <a class="btn btn-secondary" href="@Url.Action("Details", "Owner_debt" , new { id = item.pk_id_oDebt } )"><img src="~/images/details.png" /> History</a>
                                @*<a class="btn btn-danger" href="@Url.Action("Delete", "Owner_debt" , new { id = item.pk_id_oDebt } )"><img src="~/images/bin.png" /> Delete</a>*@
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_oDebt }) |
        @Html.ActionLink("Details", "Details", new { id = item.pk_id_oDebt }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_oDebt })*@
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
