﻿@model PERI_Project.Models.tbl_about

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4>Details About</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Profile Image
            @*@Html.DisplayNameFor(model => model.Profile_Image)*@
        </dt>

        <dd>
            <img src="@Url.Content(Model.Profile_Image)" width="250" height="125" multiple />
            @*@Html.DisplayFor(model => model.Profile_Image)*@
        </dd>

        <dt>
            Main Title
            @*@Html.DisplayNameFor(model => model.Main_Title)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_Title)
        </dd>

        <dt>
            Description
            @*@Html.DisplayNameFor(model => model.Description)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <p>
        <a class="btn btn-primary" href="@Url.Action("Edit", "About" , new { id = Model.AboutID } )"><img src="~/images/edit.png" /> Edit</a> |
        <a class="btn btn-info" href="@Url.Action("Index", "About")">Back to List</a>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.AboutID }) |
        @Html.ActionLink("Back to List", "Index")*@
    </p>

</div>
