﻿@model PERI_Project.Models.tbl_depositSpending

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Deposit Spending Owner</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                No. Spending
            </dt>
            <dd>
                @Html.DisplayFor(model => model.tbl_spending.pk_id_spending)
            </dd>
            <dt>
                Spending Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.tbl_spending.tbl_spendingItem.name)
            </dd>
            <dt>
                Deposit
                @*@Html.DisplayNameFor(model => model.deposit)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.deposit)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                Payment Status
                @*@Html.DisplayNameFor(model => model.tbl_spending.payment_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_spending.payment_status)
            </dd>

        </dl>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "depositSpending")">Back to List</a>
        </div>
    </div>
}
