﻿@model PERI_Project.Models.tbl_depositSpending

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_depositSpending</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_spending.payment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_spending.payment_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_depositSpending }) |
    @Html.ActionLink("Back to List", "Index")
</p>
