﻿@model IEnumerable<PERI_Project.Models.tbl_depositSpending>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_spending.payment_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.deposit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_spending.payment_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_depositSpending }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_depositSpending }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_depositSpending })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">Data Deposit Spending Owner</h3>
        </div>
        @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","design")">Add Design</a>
        </div>*@
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No. Spending</th>
                            <th>Spending Name</th>
                            <th>Deposit</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No. Spending</th>
                            <th>Spending Name</th>
                            <th>Deposit</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_spending.pk_id_spending)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_spending.tbl_spendingItem.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.deposit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                                <td>
                                    @*<a class="btn btn-primary" href="@Url.Action("Edit", "design" , new { id = item.pk_id_depositPayment } )"><img src="~/images/edit.png" /> Edit</a> |
                                    <a class="btn btn-secondary" href="@Url.Action("Details", "design" , new { id = item.pk_id_depositPayment } )"><img src="~/images/details.png" /> Details</a> |*@
                                    <a class="btn btn-danger" href="@Url.Action("Delete", "depositSpending" , new { id = item.pk_id_depositSpending } )"><img src="~/images/bin.png" /> Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
