﻿@model PERI_Project.Models.tbl_customerOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>Create Customer Order</h4>
            <hr />
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @*@Html.LabelFor(model => model.fk_id_customer, "ID customer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fk_id_customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                //@Html.EditorFor(model => model.fk_id_customer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })//
                @Html.ValidationMessageFor(model => model.fk_id_customer, "", new { @class = "text-danger" })
            </div>*@
                @Html.HiddenFor(model => model.fk_id_customer)
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" ><b>Name<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.name, "Name ", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Phone Number<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.phone, "Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control",@onkeyup = "validAngka(this)", required = "required" } })
                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Email</b></label>
                @*@Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "payment")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>