﻿@model PERI_Project.Models.tbl_customerOrder

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Customer Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Name
                @*@Html.DisplayNameFor(model => model.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Phone Number
                @*@Html.DisplayNameFor(model => model.phone)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                E-Mail
                @*@Html.DisplayNameFor(model => model.email)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Username
                @*@Html.DisplayNameFor(model => model.tbl_Customer.UserName)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Customer.UserName)
            </dd>

        </dl>


    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "customerOrder")">Back to List</a>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    </div>
}