﻿@model PERI_Project.Models.tbl_customerOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h4>Details Customer Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Name
                @*@Html.DisplayNameFor(model => model.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                Phone Number
                @*@Html.DisplayNameFor(model => model.phone)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone)
            </dd>

            <dt>
                E-Mail
                @*@Html.DisplayNameFor(model => model.email)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Username
                @*@Html.DisplayNameFor(model => model.tbl_Customer.UserName)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_Customer.UserName)
            </dd>

        </dl>
        <p>
            <a class="btn btn-primary" href="@Url.Action("Edit", "customerOrder" , new { id = Model.pk_id_customerOrder } )"><img src="~/images/edit.png" /> Edit</a> |
            <a class="btn btn-info" href="@Url.Action("Index", "customerOrder")">Back to List</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_customerOrder }) |
            @Html.ActionLink("Back to List", "Index")*@
        </p>
    </div>

