﻿@model PERI_Project.Models.tbl_Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PERI - Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content_AdminLogin/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet" />

</head>

<body class="" style="background-color:#82ae46;">
    @using (Html.BeginForm("Autherize", "AdminLogin", FormMethod.Post))
    {
        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        
                        <div class="card-body p-0" style="margin-top:50px;">
                            <div class="text-center">
                                <h1 class="h4 mb-4" style="color:#303c50; font-family:'Lucida Calligraphy'; font-size:35px;">
                                    <b>
                                        Welcome To PERI
                                    </b>
                                </h1>
                            </div>
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block" style="background-image:url(../../images/AdminLogin/Background_Admin.png); background-size:contain;"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <form class="user">
                                            <div class="form-group" data-validate="Enter username">
                                                <input type="text" class="form-control form-control-user" name="UserName" placeholder="User Name" maxlength="50" required>
                                            </div>
                                            <div class="form-group" data-validate="Enter password">
                                                <input type="password" class="form-control form-control-user" name="Password" placeholder="Password" maxlength="50" required>
                                            </div>
                                            <div class="label-info">
                                                <label class="field-validation-error" style="color:silver">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                                            </div>
                                            <button class="btn btn-primary btn-user btn-block" name="name" value="AdminLogin" style="background-color:#82ae46;">
                                                Login
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    }

        @Scripts.Render("~/Scripts_AdminLogin/js")

    </body>

</html>

