﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Payment</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Total Price
                @*@Html.DisplayNameFor(model => model.total_price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total_price)
            </dd>

            <dt>
                Payment
                @*@Html.DisplayNameFor(model => model.payment)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment)
            </dd>

            <dt>
                PAyment Status
                @*@Html.DisplayNameFor(model => model.payment_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment_status)
            </dd>

            <dt>
                Order Status
                @*@Html.DisplayNameFor(model => model.order_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.order_status)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                Customer Name
                @*@Html.DisplayNameFor(model => model.tbl_customerOrder.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_customerOrder.name)
            </dd>

        </dl>


    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "payment")">Back to List</a>
            @*@Html.ActionLink("Back to List", "Index")*@
        </div>
    </div>
}