﻿@model IEnumerable<PERI_Project.Models.tbl_order>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.details_order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lenght_meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width_meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_design.difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_product.product_name)
            </th>
            <th></th>
        </tr>


    ViewBag.NoPayment = tbl_payment.pk_id_payment;
            ViewBag.Name = tbl_payment.tbl_customerOrder.name;
            ViewBag.TotalPrice = tbl_payment.total_price;
            ViewBag.Payment = tbl_payment.payment;
            ViewBag.BankName = tbl_payment.BankName;
            ViewBag.BankAccountName = tbl_payment.BankAccountName;
            ViewBag.BankAccountNumber = tbl_payment.BankAccountNumber;
            ViewBag.ImagePath = tbl_payment.ImagePath;
    </table>*@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Details Customer Order</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <br />
                <h6>No. Payment         : @ViewBag.NoPayment</h6>
                <h6>Name                : @ViewBag.Name</h6>
                <h6>Bank Name           : @ViewBag.BankName</h6>
                <h6>Bank Account Name   : @ViewBag.BankAccountName</h6>
                <h6>Bank Account Number : @ViewBag.BankAccountNumber</h6>
                <h6>Total Price : @ViewBag.TotalPrice</h6>
                <h6>Payment : @ViewBag.Payment</h6>
            </div>
            <div class="col-sm-4">
                <br />
                @if (Session["payment"] != null)
                {
                    <img class="zoom" src="@Url.Content(Session["payment"].ToString())" width="150" height="180" style="border-radius:5px"/>
                }
                

            </div>
        </div>
    </div>
    <hr />
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Details Order</th>
                        <th>Lenght (meter)</th>
                        <th>Width (meter)</th>
                        <th>Product</th>
                        <th>Design Difficulty</th>
                        <th>Addition</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Details Order</th>
                        <th>Lenght (meter)</th>
                        <th>Width (meter)</th>
                        <th>Product</th>
                        <th>Design Difficulty</th>
                        <th>Addition</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.details_order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.lenght_meter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.width_meter)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_product.product_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_Addition.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>



                        <td>
                            @*<a class="btn btn-primary" href="@Url.Action("Edit", "order" , new { id = item.pk_id_order } )"><img src="~/images/edit.png" /> Edit</a> <hr />
            <a class="btn btn-secondary" href="@Url.Action("Details", "order" , new { id = item.pk_id_order } )"><img src="~/images/details.png" /> Details</a> |*@
                            @if (Session["paymentStatus"].ToString() == "Not Yet")
                            {
                                @*<a class="btn btn-danger" href="@Url.Action("Delete", "order" , new { id = item.pk_id_order } )"><img src="~/images/bin.png" /> Delete</a>*@
                            }
                            @*@Html.ActionLink("Edit", "Edit", "order", new { id = item.pk_id_order }, new { }) |
            @Html.ActionLink("Details", "Details", "order", new { id = item.pk_id_order }, new { }) |
            @Html.ActionLink("Delete", "Delete", "order", new { id = item.pk_id_order }, new { })*@
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/zoomerang.js"></script>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('p'), function (p, i) {
        p.style.marginLeft = i * 6 + '%'
    })
    Zoomerang
        .config({
            maxHeight: 500,
            maxWidth: 400,
            bgColor: '#000',
            bgOpacity: .85,
            onOpen: openCallback,
            onClose: closeCallback,
            onBeforeOpen: beforeOpenCallback,
            onBeforeClose: beforeCloseCallback
        })
        .listen('.zoom')

    function openCallback(el) {
        console.log('zoomed in on: ')
        console.log(el)
    }

    function closeCallback(el) {
        console.log('zoomed out on: ')
        console.log(el)
    }

    function beforeOpenCallback(el) {
        console.log('on before zoomed in on:')
        console.log(el)
    }

    function beforeCloseCallback(el) {
        console.log('on before zoomed out on:')
        console.log(el)
    }
</script>