﻿@model IEnumerable<PERI_Project.Models.tbl_payment>

@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
    <tr>
        <th>
            Total Price @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            Payment Status   @Html.DisplayNameFor(model => model.payment_status)
        </th>
        <th>
            Order Status   @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            Customer Name  @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </th>
        <th></th>
    </tr>*@



@*</table>*@
@*<script src="~/Scripts/nosorttable.js"></script>*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Order Customer - Order Status ( Not Yet )</h3>
    </div>
    @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("IndexDone","payment")">Done</a>
        </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="nosort">No. Payment</th>
                        <th class="nosort">Customer Name</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment status</th>
                        <th>Order status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Payment</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment status</th>
                        <th>Order status</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.pk_id_payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order_status)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/edit.png" /> Pay</a> <hr />
                                <a class="btn btn-secondary" href="@Url.Action("Details", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/details.png" /> Details</a>

                                @if (item.payment_status == "Not Yet")
                                {
                                    <hr /> <a class="btn btn-danger" href="@Url.Action("Delete", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/bin.png" /> Delete</a><hr />
                                }
                                @*else
                                {

                                    <hr /> <a class="btn btn-success" href="@Url.Action("OnProgress", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/edit.png" /> On Proggres</a>
                                }*@
                                @*@Html.ActionLink("Details", "Details", new { id = item.pk_id_payment }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_payment })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
