﻿@model IEnumerable<PERI_Project.Models.tbl_payment>

@{
    ViewBag.Title = "IndexOnProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.total_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payment_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estimasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payment_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estimasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_payment }) |
                @Html.ActionLink("Details", "Details", new { id=item.pk_id_payment }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_payment })
            </td>
        </tr>
    }

    </table>*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Order Customer - Order Status ( On Progress )</h3>
    </div>
    @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Index","payment")">Not Yet</a>
        </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No. Payment</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment status</th>
                        <th>Order status</th>
                        <th>Estimasi</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Payment</th>
                        <th>Customer Name</th>
                        <th>Total Price</th>
                        <th>Payment</th>
                        <th>Payment status</th>
                        <th>Order status</th>
                        <th>Estimasi</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.pk_id_payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.total_price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.order_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.estimasi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>

                            <td>
                                @*<a class="btn btn-primary" href="@Url.Action("Edit", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/edit.png" /> Pay</a> <hr />*@
                                <a class="btn btn-secondary" href="@Url.Action("Details", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/details.png" /> Details</a>
                                @if (item.payment_status == "Debt" || item.payment_status == "Deposit")
                                {

                                }
                                else
                                {
                                    <hr /> <a class="btn btn-success" href="#" data-toggle="modal" data-target="#logoutModal">@*<img src="~/images/edit.png" />*@ Done</a>
                                }
                                @*<a class="btn btn-danger" href="@Url.Action("Delete", "payment" , new { id = item.pk_id_payment } )"><img src="~/images/bin.png" /> Delete</a>*@
                                @*@Html.ActionLink("Details", "Details", new { id = item.pk_id_payment }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_payment })*@
                            </td>
                        </tr>

                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-success" id="exampleModalLabel">Whether the customer order is Done ?</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Yes" below if the customer order Done<br /> or select "No" for canceled</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                                        <a class="btn btn-primary" href="@Url.Action("Done", "payment" , new { id = item.pk_id_payment } )">Yes</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

