﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "OnProgress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <div class="form-horizontal">
            <h4 class="text-success">Does the customer order enter on progress ?</h4>
            <h5>Data Order : @TempData["customername"]</h5>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.pk_id_payment)

            <div class="form-group">
                @Html.LabelFor(model => model.fk_id_customerOrder, "No. Payment", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fk_id_customerOrder,  new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @*@Html.DropDownList("fk_id_customerOrder", null, htmlAttributes: new { @class = "form-control" ,@readonly = "readonly" })*@
                    @Html.ValidationMessageFor(model => model.fk_id_customerOrder, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.total_price,"Total Price", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.total_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payment,"Payment", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payment, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.payment, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.payment_status,"Payment Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payment_status, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly"} })
                    @Html.ValidationMessageFor(model => model.payment_status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.order_status, "Order Status", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.order_status, new { htmlAttributes = new { @class = "form-control" ,@readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.order_status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.estimasi,"Estimasi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.estimasi, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "ex: 1 day or 12 hour" } })
                    @Html.ValidationMessageFor(model => model.estimasi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Processed Order" class="btn btn-secondary" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "payment")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}