﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "CheckOrder";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    <h1 class="text-center" style="color:#82ae46;"><b>Check Order</b></h1>
    <hr />
    <br />
    <div class="container">
        <div class="form-group">
            <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
        </div>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2" style="color:#82ae46;"><b>No. Payment<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.pk_id_payment, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.pk_id_payment, new { htmlAttributes = new { @class = "form-control col-md-5", @type = "text", @required = "required", @onkeyup = "validAngka(this)", @style = "border-radius:5px;", @placeholder = "Input your payment number" } })
                    @Html.ValidationMessageFor(model => model.pk_id_payment, "", new { @class = "text-danger" })
                    <label class="text-danger">@ViewBag.Error</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Check" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a style="font-size:20px;" href="@Url.Action("HomePage","HomeCustomer")"><img src="~/images/back.png" style="margin-bottom:4px;" /> Back</a>
        </div>
    </div>
    <hr />
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>