﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "CheckedOrder";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<hr />
<h1 class="text-center" style="color:#82ae46;"><b>Your Order</b></h1>
<hr />
<br />
<div class="container">
    <dl class="dl-horizontal">
        <div class="row">
            <div class="col-sm-4">
                <br />
                <h6 class="text-success"><b>Name           : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.tbl_customerOrder.name)</label>
                <h6 class="text-success"><b>Total Price    : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.total_price)</label>
                <h6 class="text-success"><b>Your Payment   : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.payment)</label>

            </div>
            <div class="col-sm-4">
                <br />
                <h6 class="text-success"><b>Payment Status : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.payment_status)</label>
                <h6 class="text-success"><b>Order Status   : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.order_status)</label>
            </div>
            <div class="col-sm-4">
                <br />
                <h6 class="text-success"><b>Start Order Date      : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.date)</label>
                <h6 class="text-success"><b>Order Done Estimation : </b></h6> <label style="color:black;"> @Html.DisplayFor(model => model.estimasi)</label>
            </div>
        </div>
    </dl>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <a style="font-size:20px;" href="@Url.Action("HomePage","HomeCustomer")"><img src="~/images/back.png" style="margin-bottom:4px;" /> Back</a>
    </div>
</div>
<hr />
