﻿@model IEnumerable<PERI_Project.Models.tbl_contact>

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<hr />
<h1 class="text-center" style="color:#82ae46;"><b>Contact</b></h1>
<hr />
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="col-md">
            @foreach (var item in Model)
            {
                <div class="ftco-footer-widget mb-4">
                    <div class="block-23 mb-3">
                        <br />
                        <img src="@Url.Content(item.Image)" width="600" height="300" style="border-radius:10px;" />
                        <ul>
                            <br />
                            <li><span class="icon icon-map-marker"></span><span class="text">@Html.DisplayFor(modelItem => item.address)</span></li>
                            <li><a href="#"><span class="icon icon-phone"></span><span class="text">@Html.DisplayFor(modelItem => item.phone)</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@Html.DisplayFor(modelItem => item.email)</span></a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


