﻿@model PERI_Project.Models.tbl_product
@{
    ViewBag.Title = "Details_Product";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<hr />
<h1 class="text-center" style="color:#82ae46;"><b>Details Product</b></h1>
<hr />
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 ftco-animate">
                <a href="@Url.Content(Model.ImagePath)" class="image-popup"><img src="@Url.Content(Model.ImagePath)" class="img-fluid" alt="Colorlib Template"></a>
            </div>
            <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                <h2 style="color:#82ae46;"><b>@Html.DisplayFor(model => model.product_name)</b></h2>
                
                <p class="price"><span>Rp. @Html.DisplayFor(model => model.product_price) &nbsp; (Harga per meter<sup>2</sup>)</span></p>
                <p>
                    @Html.DisplayFor(model => model.description)
                </p>
            </div>
        </div>
        <a style="font-size:20px;" href="@Url.Action("HomePage", "HomeCustomer")"><img src="~/images/back.png" style="margin-bottom:4px;" /> Back To List</a>
    </div>
</section>
