﻿@model PERI_Project.Models.tbl_product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Details Product</h2>
<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
        </dd>
    </dl>
</div>
<div>
    <h4> @Html.DisplayFor(model => model.product_name)</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>*@

        <dt>
           Price @*@Html.DisplayNameFor(model => model.product_price)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Order", "Order", new { id = Model.pk_id_product }) |
    @Html.ActionLink("Back to List", "Product", "HomeCustomer")
</p>
