﻿@using PERI_Project.Models;
@model ViewModelHome
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


<section id="home-section" class="hero">
    @if (ViewBag.Message != null)
    {
        <script>
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }
    @if (ViewBag.Upload != null)
    {
        <script>
            window.onload = function () {
                alert("@ViewBag.Upload");
            };
        </script>
    }

    <div class="home-slider owl-carousel">
        @foreach (var item in Model.banner)
        {
            <div class="slider-item" style="background-image: url(@Url.Content(item.Banner_Image));">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                        <div class="col-md-12 ftco-animate text-center">
                            <h1 class="mb-2">@Html.DisplayFor(modelItem => item.Main_Title)</h1>
                            <h2 class="subheading mb-4">@Html.DisplayFor(modelItem => item.Second_Title)</h2>
                        </div>

                    </div>
                </div>
            </div>

            @*<div class="slider-item" style="background-image: url(../../images/images_HomeCustomer/);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                            <div class="col-sm-12 ftco-animate text-center">
                                <h1 class="mb-2">100% Quality Product</h1>
                                <h2 class="subheading mb-4">just order right away</h2>
                            </div>

                        </div>
                    </div>
                </div>*@
        }
    </div>
</section>
<hr />
<h2 class="text-center" style="color:#82ae46;"><b>Product List</b></h2>
<hr />
<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-12">
                <div class="row">
                    @foreach (var item in Model.product)
                    {<div class="col-md-4">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" @*style="background-image:url(@Url.Content(item.ImagePath));"*@>
                                <img src="@Url.Content(item.ImagePath)" width="250" height="250" />
                                <div class="text position-absolute">
                                    <h2 class="mb-0"><a href="@Url.Action("Details_Product", "HomeCustomer", new { id = item.pk_id_product })">@Html.DisplayFor(modelItem => item.product_name)</a></h2>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<hr />

@*<section class="ftco-section">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Free Shipping</h3>
                            <span>On order over $100</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Always Fresh</h3>
                            <span>Product well package</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Superior Quality</h3>
                            <span>Quality Products</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>24/7 Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-section ftco-category ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(../../images/images_HomeCustomer/);">
                                <div class="text text-center">
                                    <h2>PERI PRODUCT</h2>
                                    <p>Advertise your business, so that the whole world knows</p>
                                    <p><a href="#" class="btn btn-primary">Order now</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(../../images/images_HomeCustomer/Contoh_1_Banner.jpg);">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Banner</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(../../images/images_HomeCustomer/Contoh_2_Sticker.jpg);">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Sticker</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(../../images/images_HomeCustomer/Contoh_3_Bilboard.jpg);">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Bilboard</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(../../images/images_HomeCustomer/Contoh_4_NeonBox.jpg);">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Neon Box</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

@*<section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <h2 class="mb-4">How To Order</h2>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../images/images_HomeCustomer/)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Select the order and select the product you want</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../images/images_HomeCustomer/)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Fill in your personal data in full into the form provided and order</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../images/images_HomeCustomer/)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Enter the size and type of product as well as the design description you want and select pay</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../images/images_HomeCustomer/)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Make payment to the available account and upload proof of payment</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">
                                <div class="user-img mb-5" style="background-image: url(../../images/images_HomeCustomer/)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">Your order will be processed and sent immediately</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-6">
                    <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                    <span>Get e-mail updates about our latest shops and special offers</span>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <form action="#" class="subscribe-form">
                        <div class="form-group d-flex">
                            <input type="text" class="form-control" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="submit px-3">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>*@



