﻿
@{
    ViewBag.Title = "OrderGuide";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


<hr />
<h1 class="text-center" style="color:#82ae46;"><b>How To Order</b></h1>
<hr />
<br />

<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">1. Step One</label>
                    <div class="col">
                        <label style="font-size:16px;">First select the order menu and then select request</label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img1.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">2. Step Two</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">Fill in all data forms provided and click the request button to send your order request</label>
                        <label style="font-size:16px; text-align:justify">To fill in the product request form, you can select the product, input leght, widht, amount, and detail, if there is additional product data that you want to request, you can click the add button and click the less button to delete the form</label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img2.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                    <div class="col">

                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img3.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">3. Next</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">There will be a notification stating that your order request has been sent</label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img4.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">4. And Next</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">Then wait for confirmation from the admin via email or telephone, for the admin to ask further about your order request</label>
                    </div>
                    <div class="col">
                        <img src="~/images/OrderGuide/support.png" width="100" height="100" style="border-radius:6px;" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">5. Step Three</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">After confirmation with The Admin, You will get No. Payment via Email. To pay your order, click on the link in your email</label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img5.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">6. Step Four</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">Upload your payment proof and input the details of your payment. Wait the confirmation from the admin, you will get another notification via email after your payment accepted for how long the order will be processed</label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img6.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label style="color:black; font-weight:bold; font-size:18px;">7. Step End</label>
                    <div class="col">
                        <label style="font-size:16px; text-align:justify">You will get another notification after the order is done. You can then pick up your order at the Company </label>
                    </div>
                    <div class="col">
                        <img class="zoom" src="~/images/OrderGuide/img7.png" width="260" height="150" style="border-radius:6px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<script src="~/Scripts/zoomerang.js"></script>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('p'), function (p, i) {
        p.style.marginLeft = i * 6 + '%'
    })
    Zoomerang
        .config({
            maxHeight: 500,
            maxWidth: 700,
            bgColor: '#000',
            bgOpacity: .85,
            onOpen: openCallback,
            onClose: closeCallback,
            onBeforeOpen: beforeOpenCallback,
            onBeforeClose: beforeCloseCallback
        })
        .listen('.zoom')

    function openCallback(el) {
        console.log('zoomed in on: ')
        console.log(el)
    }

    function closeCallback(el) {
        console.log('zoomed out on: ')
        console.log(el)
    }

    function beforeOpenCallback(el) {
        console.log('on before zoomed in on:')
        console.log(el)
    }

    function beforeCloseCallback(el) {
        console.log('on before zoomed out on:')
        console.log(el)
    }
</script>
