﻿@model PERI_Project.Models.tbl_payment

@{
    ViewBag.Title = "Payment_Proof";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        <div class="container">
            <h2>Payment Proof</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.pk_id_payment)

            <div class="form-group">
                <label style="color:#d6d6c2">Upload Payment Proof ( With format [ Jpeg / Png ] ):</label><br />
                <input class="col-md-10" type="file" name="ImageFile" accept="image/jpeg, image/png" style="margin-left:3px; margin-top:8px;" required/>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
