﻿@model IEnumerable<PERI_Project.Models.tbl_product>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Product</h2>
<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-12">
                <div class="row">
                    @foreach (var item in Model)
                    {<div class="col-md-4">
                         <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"  @*style="background-image:url(@Url.Content(item.ImagePath));"*@>
                             <img src="@Url.Content(item.ImagePath)" width="250" height="250" />
                             <div class="text position-absolute" >
                                 <h2 class="mb-0"><a href="@Url.Action("Details", "HomeCustomer", new { id = item.pk_id_product })">@Html.DisplayFor(modelItem => item.product_name)</a></h2>
                             </div>
                         </div>
                     </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


