﻿@model PERI_Project.Models.tbl_OrderRequest

@{
    ViewBag.Title = "RequestOrder";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<style>

    table {
        width: 70%;
    }

    table, th, td {
        border: solid 1px #DDD;
        border-collapse: collapse;
        padding: 2px 3px;
        text-align: center;
    }
</style>
<body onload="createTable()">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        <h1 class="text-center" style="color:#82ae46;"><b>Order Request</b></h1>
        <hr />
        <br />

        <div class="container">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label col-md-2" style="color:#82ae46;"><b>Name<label style="color:red"> *</label></b></label>
                    @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required", @style = "border-radius:5px;" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="color:#82ae46;"><b>Address<label style="color:red"> *</label></b></label>
                    @*@Html.LabelFor(model => model.address, "Address", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        <textarea class="input" name="Address" id="Address" style="resize:none; width:895px; height:200px; border-radius:5px;" required></textarea>
                        @*Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", @required = "required" } })*@
                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="color:#82ae46;"><b>Phone Number<label style="color:red"> *</label></b></label>
                    @*@Html.LabelFor(model => model.phone, "Phone Number", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", @required = "required", @style = "border-radius:5px;" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" style="color:#82ae46;"><b>Email<label style="color:red"> *</label></b></label>
                    @*@Html.LabelFor(model => model.email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @required = "required", @style = "border-radius:5px;" } })
                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2" style="color:#82ae46;"><b>Product Request@*<label style="color:red"> *</label>*@</b></label>
                    <div class="col-md-10">
                        <div id="cont" required></div>  <!-- the container to add the TABLE -->
                    </div>
                </div>

                @Html.HiddenFor(model => model.description)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Request" class="btn btn-success" onclick="enter();" />
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a style="font-size:20px;" href="@Url.Action("HomePage","HomeCustomer")"><img src="~/images/back.png" style="margin-bottom:4px;" /> Back</a>
            </div>
        </div>
        <hr />

        @*<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-success" id="exampleModalLabel">Whether the customer order is Done ?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Yes" below if the customer order Done<br /> or select "No" for canceled</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
                        <input type="submit" value="Request" class="btn btn-success" onclick="enter();" />
                    </div>
                </div>
            </div>
        </div>*@

    }


</body>

<script type="text/javascript">
    var arrHead = new Array();	// array for header.
    arrHead = ['','Product Name', 'Leght', 'Widht','Add', 'Amount', 'Details', ''];

    // first create TABLE structure with the headers.
    function createTable() {
        var empTable = document.createElement('table');
        empTable.setAttribute('id', 'empTable'); // table id.

        var tr = empTable.insertRow(-1);
        for (var h = 0; h < arrHead.length; h++) {
            var th = document.createElement('th'); // create table headers
            th.innerHTML = arrHead[h];
            tr.appendChild(th);
        }

        var div = document.getElementById('cont');
        div.appendChild(empTable);  // add the TABLE to the container.

        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;   // table row count.
        var tr = empTab.insertRow(rowCnt); // the table row.
        tr = empTab.insertRow(rowCnt);


        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td'); // table definition.
            td = tr.insertCell(c);

            //if (c == 6) {  
            //    // add a button in every new row in the first column.
            //    var button = document.createElement('input');

            //    // set input attributes.
            //    button.setAttribute('type', 'button');
            //    button.setAttribute('value', ' - ');

            //    // add button's 'onclick' event.
            //    button.setAttribute('onclick', 'removeRow(this)');

            //    td.appendChild(button);
            //}
            if (c == 0) {  
                // add a button in every new row in the first column.
                var button = document.createElement('input');

                // set input attributes.
                button.setAttribute('type', 'button');
                button.setAttribute('value', ' + ');

                // add button's 'onclick' event.
                button.setAttribute('onclick', 'addRow()');

                td.appendChild(button);
            }
            else if (c == 1) {

                var produk = ["tes1"];
                var drop = document.createElement('select');
                $.ajax({
                    type: 'POST',
                    url: '/HomeCustomer/GetProductData',
                    dataType: 'json',
                    success: function (data) {
                        // console.log(data[0].product_name)

                        // alert(data[0].product_name)
                        var optarr = data;
                        for (var i = 0; i < optarr.length; i++) {
                            var opt = document.createElement('option');
                            opt.text = optarr[i].product_name;
                            opt.value = optarr[i].product_name;
                            opt.className = optarr[i].product_name;
                            drop.appendChild(opt);
                        }
                    },
                    error: function (error_) {
                        alert('error');
                    }
                });

                td.appendChild(drop);

            }
            else if (c == 4)
            {
                   var produk = ["tes1"];
                var drop1 = document.createElement('select');
                $.ajax({
                    type: 'POST',
                    url: '/HomeCustomer/GetAdditionData',
                    dataType: 'json',
                    success: function (data1) {
                        // console.log(data[0].product_name)

                        // alert(data[0].product_name)
                        var optarr1 = data1;
                        for (var i = 0; i < optarr1.length; i++) {
                            var opt1 = document.createElement('option');
                            opt1.text = optarr1[i].name;
                            opt1.value = optarr1[i].name;
                            opt1.className = optarr1[i].name;
                            drop1.appendChild(opt1);
                        }
                    },
                    error: function (error_) {
                        alert('error');
                    }
                });

                td.appendChild(drop1);
            }
            else if (c == 2 || c == 3 || c == 5) {
                // 1nd, 2rd and 3th column, will have textbox.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('value', '');
                ele.setAttribute('required', 'true');
                ele.setAttribute('style', 'width:60px;');
                ele.setAttribute('placeholder', 'ex : 1');
                ele.setAttribute('onkeyup', 'validAngka(this)');

                td.appendChild(ele);
            }
            else if (c ==6 ) {
                // 4th column, will have textbox.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('style', 'width:450px;');
                ele.setAttribute('value', '');
                ele.setAttribute('placeholder', 'ex : background blue or another description');

                td.appendChild(ele);
            }
        }
    }

    // now, add a new to the TABLE.
    function addRow() {
        var empTab = document.getElementById('empTable');

        var rowCnt = empTab.rows.length;   // table row count.
        var tr = empTab.insertRow(rowCnt); // the table row.
        tr = empTab.insertRow(rowCnt);

        for (var c = 0; c < arrHead.length; c++) {
            var td = document.createElement('td'); // table definition.
            td = tr.insertCell(c);

            if (c == 7) {      // the first column.
                // add a button in every new row in the first column.
                var button = document.createElement('input');

                // set input attributes.
                button.setAttribute('type', 'button');
                button.setAttribute('value', ' - ');

                // add button's 'onclick' event.
                button.setAttribute('onclick', 'removeRow(this)');

                td.appendChild(button);
            }
            if (c == 0) {  
                // add a button in every new row in the first column.
                var button = document.createElement('input');

                // set input attributes.
                button.setAttribute('type', 'button');
                button.setAttribute('value', ' + ');

                // add button's 'onclick' event.
                button.setAttribute('onclick', 'addRow()');

                td.appendChild(button);
            }
            else if (c == 1) {

                var produk = ["tes1"];
                var drop = document.createElement('select');
                $.ajax({
                    type: 'POST',
                    url: '/HomeCustomer/GetProductData',
                    dataType: 'json',
                    success: function (data) {
                        // console.log(data[0].product_name)

                        // alert(data[0].product_name)
                        var optarr = data;
                        for (var i = 0; i < optarr.length; i++) {
                            var opt = document.createElement('option');
                            opt.text = optarr[i].product_name;
                            opt.value = optarr[i].product_name;
                            opt.className = optarr[i].product_name;
                            drop.appendChild(opt);
                        }
                    },
                    error: function (error_) {
                        alert('error');
                    }
                });

                td.appendChild(drop);

            }
                else if (c == 4)
            {
                   var produk = ["tes1"];
                var drop1 = document.createElement('select');
                $.ajax({
                    type: 'POST',
                    url: '/HomeCustomer/GetAdditionData',
                    dataType: 'json',
                    success: function (data1) {
                        // console.log(data[0].product_name)

                        // alert(data[0].product_name)
                        var optarr1 = data1;
                        for (var i = 0; i < optarr1.length; i++) {
                            var opt1 = document.createElement('option');
                            opt1.text = optarr1[i].name;
                            opt1.value = optarr1[i].name;
                            opt1.className = optarr1[i].name;
                            drop1.appendChild(opt1);
                        }
                    },
                    error: function (error_) {
                        alert('error');
                    }
                });

                td.appendChild(drop1);
            }
            else if (c == 2 || c == 3 || c == 5) {
                // 1nd, 2rd and 3th column, will have textbox.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('value', '');
                ele.setAttribute('required', 'true');
                ele.setAttribute('style', 'width:60px;');
                ele.setAttribute('placeholder', 'ex : 1');
                ele.setAttribute('onkeyup', 'validAngka(this)');

                td.appendChild(ele);
            }
            else if (c == 6) {
                // 4th column, will have textbox.
                var ele = document.createElement('input');
                ele.setAttribute('type', 'text');
                ele.setAttribute('style', 'width:450px;');
                ele.setAttribute('value', '');
                ele.setAttribute('placeholder', 'ex : background blue or another description');


                td.appendChild(ele);
            }
        }
    }

    // delete TABLE row function.
    function removeRow(oButton) {
        var empTab = document.getElementById('empTable');
        empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
    }

    // function to extract and submit table data.
    function enter() {
        var myTab = document.getElementById('empTable');
        var arrValues = new Array();
        var temp = "";
        var data = "";
        // loop through each row of the table.
        for (row = 1; row < myTab.rows.length - 1; row++) {
            // loop through each cell in a row.
            for (c = 0; c < myTab.rows[row].cells.length; c++) {
                var element = myTab.rows.item(row).cells[c];
                if (c != 0 && c != 7) {

                    if (c == 6) {
                        temp += "Details : " + element.childNodes[0].value + "\n" + "\n";
                        //arrValues.push("'" + element.childNodes[0].value + "'\n");
                    }
                    else if (c == 1) {
                        temp += "Product Name : " + element.childNodes[0].value + ", " +"\n";
                    }
                    else if (c == 2) {
                        temp += "Size : " + element.childNodes[0].value + " x ";
                    }
                    else if (c == 3) {
                        temp += element.childNodes[0].value + ", " +"\n";
                    }
                    else if (c == 4) {
                        temp += "Addition : "+ element.childNodes[0].value + ", " + "\n";
                    }
                    else if (c == 5) {
                        temp += "Amount : "+ element.childNodes[0].value + ", " + "\n";
                    }
                    else {
                        temp += element.childNodes[0].value;
                        arrValues.push("'" + element.childNodes[0].value + "'");
                    }

                }
            }
        }
        data += temp;
        //alert(data).value;

        // The final output.
        document.getElementById('description').value += data;
        //console.log (arrValues);   // you can see the array values in your browsers console window. Thanks :-)
    }
</script>
<script src="~/Scripts_UserLogin/jquery.validate.min.js"></script>
<script src="~/Scripts_UserLogin/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>


