﻿
@*@{
    ViewBag.Title = "UploadDebt";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>UploadDebt</h2>*@

@model PERI_Project.Models.tbl_UploadDebt

@{
    /**/

    ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


@using (Html.BeginForm("Create", "UploadDebt", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <hr />
    <h1 class="text-center" style="color:#82ae46;"><b>Upload Debt Payment Proof</b></h1>
    <hr />
    <br />
    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
                <h5 class="text-danger">@ViewBag.msg</h5>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="control-label col-md-2" style="color:#82ae46;"><b>No. Debt <label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.payment_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Debt_id, new { htmlAttributes = new { @class = "form-control col-md-6", @type = "text", @required = "required", @onkeyup = "validAngka(this)", @style = "border-radius:5px;" } })
                    @Html.ValidationMessageFor(model => model.Debt_id, "", new { @class = "text-danger" })
                    <label class="text-danger">@ViewBag.Error</label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md" style="color:#82ae46;"><b>Upload Debt Payment Proof ( With format [ Jpeg / Png ] ) :<label style="color:red"> *</label></b></label><br />
                <input class="col-md-10" type="file" name="ImageFile" accept="image/jpeg, image/png" style="margin-left:3px; margin-top:8px;" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" required />
                <img src="@Url.Content(Model.ImagePath)" style="margin:10px; border:solid; border-color:whitesmoke; border-radius:5px; margin-left:18px;" height="200" width="200" id="imagePreview" />
            </div>

            <div class="form-group">
                <label class="control-label col-md-2" style="color:#82ae46;"><b>Bank Name<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.BankName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @required = "required", @style = "border-radius:5px;" } })
                    @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md" style="color:#82ae46;"><b>Bank Account Name<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.BankAccountName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankAccountName, new { htmlAttributes = new { @class = "form-control", @required = "required", @style = "border-radius:5px;" } })
                    @Html.ValidationMessageFor(model => model.BankAccountName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md" style="color:#82ae46;"><b>Bank Account Number<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.BankAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @required = "required", @style = "border-radius:5px;" } })
                    @Html.ValidationMessageFor(model => model.BankAccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a style="font-size:20px;" href="@Url.Action("HomePage","HomeCustomer")"><img src="~/images/back.png" style="margin-bottom:4px;" /> Back</a>
        </div>
    </div>
    <hr />

    <script src="~/Scripts_UserLogin/Script-uploadfile.js"></script>
    <script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>
}

