﻿@model IEnumerable<PERI_Project.Models.tbl_about>
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<hr />
<h1 class="text-center" style="color:#82ae46;"><b>About</b></h1>
<hr />
<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center">
                    <img src="@Url.Content(item.Profile_Image)" />
                </div>
                <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <h2 class="mb-4"> @Html.DisplayFor(modelItem => item.Main_Title)</h2>
                        </div>
                    </div>
                    <div class="pb-md-5">
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </div>
            }
            </div>
    </div>
</section>