﻿@model PERI_Project.Models.tbl_order

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
 
    <div class="container">
        <div class="form-horizontal">
            <h2> @ViewBag.Name</h2>
            <h4>Create Order</h4>

            <hr />
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.fk_customer_id)
            @*<div class="form-group">
            @Html.LabelFor(model => model.fk_customer_id, "ID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fk_customer_id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.fk_customer_id, "", new { @class = "text-danger" })
            </div>
        </div>*@




        <div class="form-group">
            <label class="control-label col-md-2"><b>Length (Meter)<label style="color:red"> *</label></b></label>
            @*@Html.LabelFor(model => model.lenght_meter, "Length (Meter)", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.lenght_meter, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", required = "required" } })
                @Html.ValidationMessageFor(model => model.lenght_meter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><b>Width (Meter)<label style="color:red"> *</label></b></label>
            @*@Html.LabelFor(model => model.width_meter, "Width (Meter)", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.width_meter, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", required = "required" } })
                @Html.ValidationMessageFor(model => model.width_meter, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2"><b>Design Difficulty@*<label style="color:red"> *</label>*@</b></label>
            @*@Html.LabelFor(model => model.fk_design_id, "Design Difficulty", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("fk_design_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_design_id, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Product@*<label style="color:red"> *</label>*@</b></label>
                @*@Html.LabelFor(model => model.fk_product_id, "Product", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("fk_product_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.fk_product_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Amount<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", @onkeyup = "validAngka(this)", required = "required" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>

             <div class="form-group">
                 <label class="control-label col-md-2"><b>Addition@*<label style="color:red"> *</label>*@</b></label>
            <div class="col-md-10">
                @Html.DropDownList("fk_id_addition", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fk_id_addition, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <label class="control-label col-md-2"><b>Details Order<label style="color:red"> *</label></b></label>
                @*@Html.LabelFor(model => model.details_order, "Details Order", htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @*<textarea class="input" name="details_order" id="details_order" style="resize:none; width:871px; height:200px; border-radius:5px;" required></textarea>*@
                    @Html.TextAreaFor(model => model.details_order, 8, 106, new { htmlAttributes = new { @class = "form-control", required = "required", @style = "resize:none;" } })
                    @Html.ValidationMessageFor(model => model.details_order, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>*@

            @*<div class="form-group">
            @Html.LabelFor(model => model.order_status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.order_status, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.order_status, "", new { @class = "text-danger" })
            </div>
        </div>*@

            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" /> |
                    <input type="submit" value="Another Order" formmethod="post" formaction="@Url.Action("AnotherOrder","order")" class="btn btn-primary" /> |
                    <a class="btn btn-info" href="@Url.Action("Index", "payment")">Back to List</a>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts_UserLogin/ScriptValidationAngka.js"></script>