﻿@model PERI_Project.Models.tbl_order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Order</h4>
        <hr />
        <dl class="dl-horizontal">
          

            <dt>
                Details Order
            </dt>

            <dd>
                @Html.DisplayFor(model => model.details_order)
            </dd>

            <dt>
                Length(meter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lenght_meter)
            </dd>

            <dt>
                Width (meter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.width_meter)
            </dd>

            <dt>
                Amount
                @*@Html.DisplayNameFor(model => model.amount)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                Price
                @*@Html.DisplayNameFor(model => model.price)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                Order Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.order_status)
            </dd>

            <dt>
                Customer Name
                @*@Html.DisplayNameFor(model => model.tbl_customerOrder.name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_customerOrder.name)
            </dd>

            <dt>
                Difficulty
               @* @Html.DisplayNameFor(model => model.tbl_design.difficulty)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_design.difficulty)
            </dd>

            <dt>
                Product Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_product.product_name)
            </dd>

        </dl>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "payment")">Back to List</a>
        </div>
    </div>
}