﻿@model IEnumerable<PERI_Project.Models.tbl_order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.details_order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lenght_meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width_meter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.order_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_design.difficulty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_product.product_name)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.details_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lenght_meter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.width_meter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_product.product_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.pk_id_order }) |
                @Html.ActionLink("Details", "Details", new { id = item.pk_id_order }) |
                @Html.ActionLink("Upload", "Upload", new { id = item.pk_id_order }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_order })
            </td>
        </tr>
    }

    </table>*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Order</h3>
    </div>
    @*<div class="card-header py-3">
            <a class="btn btn-success" href="@Url.Action("Create","order")">Add Order</a>
        </div>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Detail Order</th>
                        <th>Lenght (m)</th>
                        <th>Width (m)</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        @*<th>Order Status</th>
                        <th>Customer Name</th>*@
                        <th>Difficulty</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Detail Order</th>
                        <th>Lenght (m)</th>
                        <th>Width (m)</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Date</th>
                        @*<th>Order Status</th>
                        <th>Customer Name</th>*@
                        <th>Difficulty</th>
                        <th>Product Name</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.details_order)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.lenght_meter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.width_meter)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.amount)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.date)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.order_status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbl_product.product_name)
                            </td>
                            <td>
                                <a class="btn btn-primary" href="@Url.Action("Edit", "order" , new { id = item.pk_id_order } )"><img src="~/images/edit.png" /> Edit</a> |
                                @*<a class="btn btn-secondary" href="@Url.Action("Details", "order" , new { id = item.pk_id_order } )"><img src="~/images/details.png" /> Details</a> |
                                <a class="btn btn-warning" href="@Url.Action("Upload", "order" , new { id = item.pk_id_order } )"><img src="~/images/photo.png" /> Upload Design</a> |*@
                                <a class="btn btn-danger" href="@Url.Action("Delete", "order" , new { id = item.pk_id_order } )"><img src="~/images/bin.png" /> Delete</a>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.pk_id_order }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.pk_id_order }) |
                                    @Html.ActionLink("Upload", "Upload", new { id = item.pk_id_order }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_order })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
