﻿@model PERI_Project.Models.tbl_cart

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.details_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lenght_meter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lenght_meter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width_meter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width_meter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customerOrder.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_design.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_design.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_product.product_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
