﻿@model PERI_Project.Models.tbl_cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.details_order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.details_order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lenght_meter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lenght_meter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width_meter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width_meter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customerOrder.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_design.difficulty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_design.difficulty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_product.product_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_cart }) |
    @Html.ActionLink("Back to List", "Index")
</p>
