﻿@model IEnumerable<PERI_Project.Models.tbl_cart>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Checkout", "Payment","HomeCustomer")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.details_order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lenght_meter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.width_meter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_customerOrder.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_design.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_product.product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.details_order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lenght_meter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.width_meter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_customerOrder.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_design.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_product.product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_cart }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_cart })
        </td>
    </tr>
}

</table>
Total = @ViewBag.TotalPrice