﻿@model PERI_Project.Models.tbl_depositPayment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Delet Deposit Payment Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Deposit
                @*@Html.DisplayNameFor(model => model.deposit)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.deposit)
            </dd>

            <dt>
                Date
                @*@Html.DisplayNameFor(model => model.date)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.date)
            </dd>

            <dt>
                Payment Status
                @*@Html.DisplayNameFor(model => model.tbl_payment.payment_status)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tbl_payment.payment_status)
            </dd>

        </dl>

    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "depositPayment")">Back to List</a>
        </div>
    </div>
}
