﻿@model IEnumerable<PERI_Project.Models.tbl_HistoryOwnerDebt>

@{
    if (Convert.ToInt16(Session["UserRoleID"]) != 2)
    {
        Response.Redirect("~/AdminLogin/Login");
    }
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.payment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Owner_debt.debt_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.payment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Owner_debt.debt_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_HistoryOwnerDebt }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_HistoryOwnerDebt }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_HistoryOwnerDebt })
        </td>
    </tr>
}

</table>*@

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-success">History Debt Payment Owner</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No. History</th>
                            <th>Spending Name</th>
                            <th>Payment</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No. History</th>
                            <th>Spending Name</th>
                            <th>Payment</th>
                            <th>Date</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pk_id_HistoryOwnerDebt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tbl_Owner_debt.tbl_spending.tbl_spendingItem.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.payment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.date)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
