﻿@model PERI_Project.Models.tbl_UploadPayment

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="text">Information : <label> Form is required (</label><label style="color:red"> * </label>)</label>
            </div>
            <h4>Upload Payment</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.payment_id, "No. Payment", htmlAttributes: new { @class = "control-label col-md-2" })<label style="color:red"> *</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.payment_id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.payment_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })<label style="color:red"> *</label>
                    @Html.ValidationMessageFor(model => model.ImagePath, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BankName, "Bank Name", htmlAttributes: new { @class = "control-label col-md-2" })<label style="color:red"> *</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BankAccountName, "Bank Account Name", htmlAttributes: new { @class = "control-label col-md-2" })<label style="color:red"> *</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankAccountName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.BankAccountName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BankAccountNumber, "Bank Account", htmlAttributes: new { @class = "control-label col-md-2" })<label style="color:red"> *</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BankAccountNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.BankAccountNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}
