﻿@model PERI_Project.Models.tbl_UploadPayment

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-success">Are you sure you want to delete this?</h3>
    <div>
        <h4>Payment Proof</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Payment Proof
                @*@Html.DisplayNameFor(model => model.ImagePath)*@
            </dt>
            <dd>
                <img src="@Url.Content(Model.ImagePath)" width="250" height="250" multiple />
            </dd>

            <dt>
                No. Payment
                @*@Html.DisplayNameFor(model => model.payment_id)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.payment_id)
            </dd>

            <dt>
                Bank Account Name
                @*@Html.DisplayNameFor(model => model.BankAccountName)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankAccountName)
            </dd>

            <dt>
                Bank Account Number
                @*@Html.DisplayNameFor(model => model.BankAccountNumber)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BankAccountNumber)
            </dd>
            <dt>
                Bank Name
                @*@Html.DisplayNameFor(model => model.BankName)*@
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BankName)
            </dd>

        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-info" href="@Url.Action("Index", "UploadPayment")">Back to List</a>
        </div>
    </div>
}
