﻿@model PERI_Project.Models.tbl_UploadPayment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/HomeCustomer_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_UploadPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.payment_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_id_UploadPayment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
