﻿@model IEnumerable<PERI_Project.Models.tbl_UploadPayment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Index</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payment_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankAccountNumber)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.payment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankAccountNumber)
            </td>
            <td>
                @Html.ActionLink("Confirm", "Edit", new { id=item.pk_id_UploadPayment }) |*@
@*@Html.ActionLink("Details", "Details", new { id=item.pk_id_UploadPayment }) |*@
@*@Html.ActionLink("Delete", "Delete", new { id=item.pk_id_UploadPayment })
            </td>
        </tr>
    }

    </table>*@

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-success">Data Payment Proof</h3>
        <h4 class="text-success">@TempData["msg"]</h4>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="DataTableNoSort" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No. Payment</th>
                        <th>Bank Account Name</th>
                        <th>Bank Acount Number</th>
                        <th>Bank Name</th>
                        <th>Payment Proof</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No. Payment</th>
                        <th>Bank Account Name</th>
                        <th>Bank Acount Number</th>
                        <th>Bank Name</th>
                        <th>Payment Proof</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.payment_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankAccountName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankAccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BankName)
                            </td>
                            <td>
                                <img class="zoom" src="@Url.Content(item.ImagePath)" width="130" height="200" style="border-radius:5px" />
                            </td>
                            <td>
                                @*<a class="btn btn-primary" href="#" data-toggle="modal" data-target="#logoutModal"><img src="~/images/edit.png" /> Confirm</a> <hr />*@
                                <a class="btn btn-primary" href="@Url.Action("Edit", "UploadPayment", new { id = item.pk_id_UploadPayment } )">@*<img src="~/images/bin.png" />*@ Confirm</a> <hr />
                                <a class="btn btn-danger" href="@Url.Action("Delete", "UploadPayment", new { id = item.pk_id_UploadPayment } )"><img src="~/images/bin.png" /> Delete</a>
                                @*@Html.ActionLink("Confirm", "Edit", new { id = item.pk_id_UploadPayment }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.pk_id_UploadPayment }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.pk_id_UploadPayment })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/zoomerang.js"></script>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('p'), function (p, i) {
        p.style.marginLeft = i * 6 + '%'
    })
    Zoomerang
        .config({
            maxHeight: 500,
            maxWidth: 400,
            bgColor: '#000',
            bgOpacity: .85,
            onOpen: openCallback,
            onClose: closeCallback,
            onBeforeOpen: beforeOpenCallback,
            onBeforeClose: beforeCloseCallback
        })
        .listen('.zoom')

    function openCallback(el) {
        console.log('zoomed in on: ')
        console.log(el)
    }

    function closeCallback(el) {
        console.log('zoomed out on: ')
        console.log(el)
    }

    function beforeOpenCallback(el) {
        console.log('on before zoomed in on:')
        console.log(el)
    }

    function beforeCloseCallback(el) {
        console.log('on before zoomed out on:')
        console.log(el)
    }

</script>